/* @import "~arcgis-js-api/themes/light/main.scss"; */

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .webmap {
    height: 400px;
  }

  .subHeaderDiv {
    background-color: #6D8850 ;
  }

  .subHeaderText {
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

  .topText {

    color: white  ; 
    font-family: 'Open Sans', sans-serif;

  }

  .topTextDiv {
    background-color: #BB5C4C;
    margin-top: 8px;
  }

  .scoreInputListDiv {
    margin-top: 8px;
    border-style: solid;
    border-color: #BB5C4C;
    border-top-style: none;
    margin-bottom: 48px; 
  }

  .scoreLabel {
    margin-right: 8px; 
    font-family: 'Open Sans', sans-serif;
    color: #303441;
  }

  .scoreSelect {
    font-family: 'Open Sans', sans-serif;
    color: #303441;
  }

  .scoreInput {
    font-family: 'Open Sans', sans-serif;
    color: #303441;
    margin-bottom: 16px;
  }

  .sectionSubheaderDiv {
    background-color: #BB5C4C;
    margin-top: 8px; 
  }

  .sectionSubheaderText {
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  
  