.headerText {
    color: #303441 ; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* .headerDiv { */
    /* border-style: solid;
    border-color: #6D8850
    box-shadow: 0px 2px lightgray; */ 
/* } */
